# Local configuration
.boost_location
# Built files
out
# Emacs temporaries
\#*\#
.\#*
# Various backups
*.bak
*~
# Test configuration
.config
.config.cache
# Visual Studio files
x64/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
# Ignore Visual Studio temporary folders
.vs/
**/.vs/

# Allow only main.cpp in the personal task folder
sretenskiy.i1ya/T0/*
!sretenskiy.i1ya/T0/main.cpp
